//Colores
$grisOscuroFuerte: #2b2b2b;
$grisOscuro: #969696;
$blanco: #ffff;
$negro: #000000;
$azul: #5c7fe9;
$morado: #453e99;
//Fuente
$fuentePrincipal: 'Rubik', sans-serif;
$ligera: 400;
$mediana: 700;
$bold: 900;
//media query
$desktop: 992px;
$telefono: 480px;
$tablet: 768px;